.header {
    // .header__top
    &__top {
        background: $main-dark;
        color: #fff;
    }
}
.top-header {
    // .top-header__menu
    &__menu {
    }
    // .top-header__user
    &__user {
    }
}

.menu {
    // .menu__wrapper
    &__wrapper {
    }
    // .menu__list
    &__list {
    }
    // .menu__item
    &__item {
    }
    // .menu__link
    &__link {
        color: #fff;
        font-size: 16px;
    }
}
.icon-menu {
}
.icon-user {
}
