<header class="header">
  <div class="header__top top-header">
    <div class="container">
      <div class="top-header__menu menu">
        <button type="button" class="icon-menu"><span></span></button>
        <nav class="menu__wrapper">
          <ul class="menu__list">
            <li class="menu__item"><a href="" class="menu__link">О нас</a></li>
            <li class="menu__item">
              <a href="" class="menu__link">Оплата и доставка</a>
            </li>
            <li class="menu__item">
              <a href="" class="menu__link">Новости</a>
            </li>
            <li class="menu__item">
              <a href="" class="menu__link">Контакты</a>
            </li>
          </ul>
        </nav>
        <a href="#" class="top-header__user icon-user">Личный кабинет</a>
      </div>
    </div>
  </div>

  <div class="header__body body-header">
    <div class="container body-header__container">
      <a href="#" target="_blank" class="body-header__logo">
        <img src="img/header/logo.svg" alt=""
      /></a>

      <form action="#" class="search-header">
        <button type="submit" class="search-header__button icon-search">
          <img src="../img/header/header-search.png" alt="search" />
        </button>
        <input type="text" placeholder="Поиск" class="search-header__input" />
      </form>

      <div class="body-header__actions actions-header">
        <div class="actions-header__info">
          <div class="actions-header__location">
            <a href="http://google.com" class="icon-location" target="_blank"
              >Москва</a
            >
            <form class="actions-header__call">
              <div class="actions-header__arrow icon-arrow-down"></div>
              <ul class="actions-header__list">
                <li>
                  <a class="actions-header__tel" href="tel:8800-774967"
                    >8-800-777-49-68
                  </a>
                </li>
                <li>
                  <a class="actions-header__tel" href="tel:88007774967"
                    >8-800-777-49-69
                  </a>
                </li>
                <li>
                  <a class="actions-header__tel" href="tel:88007774967"
                    >8-800-777-49-70
                  </a>
                </li>
                <li>
                  <a class="actions-header__tel" href="tel:88007774967"
                    >8-800-777-49-71
                  </a>
                </li>
              </ul>

              <a class="actions-header__tel" href="tel:88007774967">8-800-777-49-67</a>
                 <span class="actions-header__make-call">Заказать звонок</span></a
              >
            </form>
          </div>
        </div>
        <div class="body-header__orders header-orders">
          <div class="header-orders__favourite icon-favourite"></div>
          <div class="header-orders__cart">
            <img src="../img/header/header-cart.png" alt="cart" />
            <span class="header-orders__numm">2</span>
          </div>
          <div class="header-orders__wrapper">
            <div class="balance"><span>0</span>р.</div>
            <div class="header-orders__order">Оформить заказ</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="header__bottom bottom-header">
    <div class="container bottom-header__container">
      <nav class="bottom-header__menu">
        <ul class="menu-catalog__list">
          <li class="menu-catalog__item">
            <a href="#" class="menu-catalog__link">Каталог ножей</a>
          </li>
          <li class="menu-catalog__item">
            <a href="#" class="menu-catalog__link">Клинковое оружие</a>
          </li>
          <li class="menu-catalog__item">
            <a href="#" class="menu-catalog__link">Сувенирные изделия</a>
          </li>
          <li class="menu-catalog__item">
            <a href="#" class="menu-catalog__link">Фонари ARMYTEK</a>
          </li>
          <li class="menu-catalog__item">
            <a href="#" class="menu-catalog__link">Сопуствующие товары</a>
          </li>
        </ul>

        <div class="menu-catalog__sub-menu sub-menu-catalog">
          <div class="sub-menu-catalog__block">
            <div class="sub-menu-catalog__column">
              <a href="#" class="sub-menu-catalog__category">Категория ножей</a>
              <ul class="sub-menu-catalog__list">
                <li class="sub-menu-catalog__item">
                  <a href="#" class="sub-menu-catalog__link"
                    >Разделочные ножи</a
                  >
                </li>
                <li class="sub-menu-catalog__item">
                  <a href="#" class="sub-menu-catalog__link"
                    >Туристические ножи</a
                  >
                </li>
                <li class="sub-menu-catalog__item">
                  <a href="#" class="sub-menu-catalog__link">Ножи охотничьи</a>
                </li>
                <li class="sub-menu-catalog__item">
                  <a href="#" class="sub-menu-catalog__link">Булатные ножи</a>
                </li>
                <li class="sub-menu-catalog__item">
                  <a href="#" class="sub-menu-catalog__link">Ножи из дамаска</a>
                </li>
                <li class="sub-menu-catalog__item">
                  <a href="#" class="sub-menu-catalog__link"
                    >Тактического назначения</a
                  >
                </li>
                <li class="sub-menu-catalog__item">
                  <a href="#" class="sub-menu-catalog__link"
                    >Метательные ножи</a
                  >
                </li>
                <li class="sub-menu-catalog__item">
                  <a href="#" class="sub-menu-catalog__link">Мачете и кукри</a>
                </li>
                <li class="sub-menu-catalog__item">
                  <a href="#" class="sub-menu-catalog__link">Ножи кухонные</a>
                </li>
              </ul>
              <a href="#" class="sub-menu-catalog__all">Смотреть все</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
